# ==========================
# 📦 Node.js / Next.js
# ==========================
node_modules/
.next/
dist/
dist-ssr/
*.local

# ==========================
# ⚙️ Logs e depuração
# ==========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================
# ⚙️ Build outputs e caches
# ==========================
.cache/
out/
coverage/
build/
tmp/
temp/

# ==========================
# 🔐 Variáveis de ambiente
# ==========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ==========================
# 💻 IDEs e sistemas
# ==========================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==========================
# 🧪 TypeScript
# ==========================
*.tsbuildinfo

# ==========================
# 🪣 Outros
# ==========================
*.bak
*.tmp

